.comments
  padding-top: 91px
  &-wrapper
    margin-left: 203px
    width: 56%
  &__header
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 18px
    border-bottom: 1px solid #d9dadb
    &-wrap
      display: flex
      align-items: center
  &__title
    margin: 0
    margin-bottom: 10px
    margin-right: 10px
    font-family: 'Roboto'
    font-weight: 700
    font-size: 40px
    line-height: 50px
    color: $dark
  &__amount
    display: block
    margin-bottom: 6px
    font-weight: 400
    font-size: 40px
    line-height: 50px
    text-transform: uppercase
    color: #939699
  &__button
    margin-bottom: 12px
    margin-right: 5px
    padding: 10px 20px
    display: flex
    align-items: center
    background-color: #ffffff
    font-weight: 900
    font-size: 14px
    line-height: 20px
    color: $dark
    border: 1px solid #d9dadb
    border-radius: 20px
    &-icon
      margin-right: 10px
      width: 18px
      height: 18px
      fill: #bcbfc2
  &-item
    display: flex
    border-bottom: 1px solid #d9dadb
    padding-top: 20px
    padding-bottom: 28px
    &:last-child
      border-bottom: none
    &:nth-child(5)
      border-bottom: none
    &--reply
      padding-left: 90px
    &__avatar
      width: 75px
      height: 75px
      margin-right: 15px
      border-radius: 50%
    &__top
      display: flex
      align-items: center
      margin-bottom: 12px
    &__name
      margin-right: 8px
      font-family: 'Roboto'
      font-weight: 700
      font-size: 16px
      line-height: 25px
      color: $dark
    &__time
      display: block
      font-weight: 400
      font-size: 12px
      line-height: 15px
      color: #939699
    &__text
      margin: 0
      padding-right: 87px
      margin-bottom: 14px
      font-weight: 400
      font-size: 18px
      line-height: 30px
      color: #4B5157
      &--reply
        padding-right: 15px
      &--margin
        margin-bottom: 45px
    &__bottom
      display: flex
      align-items: center
    &__reply
      display: flex
      align-items: center
      margin-right: 15px
    &__rate
      display: flex
      align-items: center
      &-amount
        font-weight: 900
        font-size: 12px
        line-height: 15px
        color: #939699
        &--green
          color: #3DC47E
        &--red
          color: #FF4F52
    &__icon
      fill: #bcbfc2
      cursor: pointer
      width: 15px
      height: 15px
      &--comment
        margin-right: 5px
      &--like
        margin-right: 10px
      &--dislike
        margin-left: 10px
      &-text
        font-weight: 400
        font-size: 12px
        line-height: 15px
        color: $dark
  &__hidden-area
    display: none
  &__bottom
    &-button
      margin-bottom: 20px
      padding-top: 15px
      padding-bottom: 15px
      width: 100%
      display: flex
      align-items: center
      justify-content: center
      font-weight: 900
      font-size: 14px
      line-height: 20px
      color: $dark
      background-color: #ffffff
      border: 1px solid #d9dadb
      border-radius: 25px
      &-icon
        width: 14px
        height: 14px
        fill: #bcbfc2
        margin-right: 7px
      &--hide
        display: none
